<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_journal_path(@journal) %> |
<%= link_to 'Back', journals_path %>

<%= react_component(
  "Journal",
  {
    name: @journal.name,
    collections: @collections,
    journalEntriesByCollection: @journal.journal_entries_by_collection,
  }
) %>
